DataScience Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [1]:
lst=['R','Python','SQL']
lst

['R', 'Python', 'SQL']

Some of the commonly used libraries used by Data Scientists include:

In [2]:
libraries_in_DS=['pandas','scikit-learn','Matplotlib','Numpy','seaborn']
libraries_in_DS

['pandas', 'scikit-learn', 'Matplotlib', 'Numpy', 'seaborn']

Data Science Tools

In [3]:
tools_in_DS=['Git','GitHub','Jupyter NoteBook','R studio']
tools_in_DS

['Git', 'GitHub', 'Jupyter NoteBook', 'R studio']

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

15
5
50
2.0
0
2

(3*4)+5

In [5]:
(3*4)+5

17

200 minutes into hours.

In [6]:
hours=200/60
hours

3.3333333333333335

List popular languages for Data Science.

In [7]:
list1=['Python','R','SQL']
list1

['Python', 'R', 'SQL']

name as regular text below the word Author.

In [8]:
name='Ruchitha'
name

'Ruchitha'